<footer class="sticky-footer" style="width: 100%">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Luis Garate Xappia Challenge 2018</span>
    </div>
  </div>
</footer>
