<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" href="">Xappia Challenge</a>

    <%= form_tag search_path, method: :post, class: "d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" do %>
      <%= select_tag(
          :search,
          options_for_select(@symbols),
          placeholder: "Search Symbols...",
          class: "form-control",
          id: "select2",
          style: "width: 300px",
          multiple: true,
          required: true
      ) %>

      <span class="switch switch-sm  ">
        <input type="checkbox" class="switch" id="switch-id" name="range">
        <label for="switch-id">Last year</label>
      </span>

      <button class="btn btn-primary" type="submit" style="height: 34px">
        <i class="fas fa-search"></i>
      </button>

      <p class="small text-muted" style="margin-bottom: 0">By default the result is about the last month</p>

    <% end %>
</nav>

<script type="text/javascript">
  $( "#select2" ).select2({
      theme: "bootstrap",
      placeholder: "Search Symbols...",
      multiple: true,
      maximumSelectionLength: 3
  });
</script>
